<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <div class="header">Header: <%- header %></div>
        <hr>
        <div class="body">Body: <%- body %></div>
        <hr>
        <div class="footer">Footer: <%- footer%></div>
    </body>
</html>